


    <footer class="bottom">
        <div class="footer-basic">
          
              <div class="social">
                <a style="color:black;"href="#">
                  <i class="fab fa-github"></i>
                </a>
                <a style="color:rgb(21, 126, 196);" href="#">
                  <i class="fab fa-linkedin-in"></i></i>
                
          </a>
          <a style="color:rgb(21, 126, 196);" href="#">
          
            <i class="fab fa-twitter"></i>
          </a>
          <a style="color:rgb(21, 82, 196);"href="#">
            <i class="fab fa-facebook-f"></i>
          </a></div>
              
              <p class="copyright">Vartika Singh © 2018</p>
          </footer>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>