<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vartika Singh</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Handlee&family=Itim&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
 <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
<link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
<link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<link type='text/css' rel="stylesheet" href="style.css">
</head>
<body style="padding-top: 10%;">
  <nav class="navbar fixed-top navbar-expand-lg navbar-default" >
    <div class="container">
      <a class="navbar-brand" href="#"><img class="logo" src="flogo.jpg" alt="logo"/></a>
        <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color: rgba(90, 196, 204, 0.486);"><i class="fas fa-bars"></i></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mc-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">HOME<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/projects">ABOUT ME<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/skills">GALLERY</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/blogs">BLOGS</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="resume.pdf">RESUME

              </a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT ME</a>
            </li>
           
          </ul>
         
        </div>
        </div>
    </nav>   
