<%- include('header') %>
<!-- <div class="main">
    <section>
    <div class="project">
<h1>Lecture Management System for Institutes</h1>
<div class="pic">
    <img src="" alt="">
</div> -->
 <!-- <div class="text">
    <p>This Project was done under guidance of Autodice as an Internship. A full stack project using NodeJs and Express.
   It had 4 type of users.
    The Admin, The Class Manager, The Teachers and The Students. The Database used was MongoDB. It had CRUD operations.
</p> -->
<!-- </div>
</div>
<div class="project">
    <h1>Hospital Appointment Booking Web-App</h1>
    <div class="pic">
        <img src="" alt="">
    </div>
     <div class="text">
        <p>This Project was done under guidance of Autodice as an Internship. A full stack project using NodeJs and Express.
       It had 4 type of users.
        The Admin, The Class Manager, The Teachers and The Students. The Database used was MongoDB. It had CRUD operations.
    </p>
    </div>
</div>
<div class="project">
    <h1>Snake Mania</h1>
    <div class="pic">
        <img src="" alt="">
    </div>
     <div class="text">
        <p>This Project was done under guidance of Autodice as an Internship. A full stack project using NodeJs and Express.
       It had 4 type of users.
        The Admin, The Class Manager, The Teachers and The Students. The Database used was MongoDB. It had CRUD operations.
    </p>
    </div>
</div>
<div class="project">
    <h1>Movie Recommendation System</h1>
    <div class="pic">
        <img src="" alt="">
    </div>
     <div class="text">
        <p>This Project was done under guidance of Autodice as an Internship. A full stack project using NodeJs and Express.
       It had 4 type of users.
        The Admin, The Class Manager, The Teachers and The Students. The Database used was MongoDB. It had CRUD operations.
    </p>
    </div>
</div>
</section>

</div> -->
<div class="about">
<img src="1.png" alt="">
</div>
<%- include('footer') %>